@font-face {
  font-family: fonteZelda;
  src: url('imagens/assets/fonteTelaInicial.otf');
} 

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.botao {
  font-family: 'fonteZelda';
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  text-transform: uppercase;
  background-color: #8386b5;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao:hover {
  background-color: #ffc0c1;
  box-shadow: 2px 2px 0px 1px #b58a8a;
}

